<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCqK37n2i-6olXb6CvrhDFG4IDye4LiRKU</string>
	<key>GCM_SENDER_ID</key>
	<string>216040449720</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.grey.JournalApp</string>
	<key>PROJECT_ID</key>
	<string>journalapp-b9d9c</string>
	<key>STORAGE_BUCKET</key>
	<string>journalapp-b9d9c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:216040449720:ios:92be954bbae0d25ae7f64d</string>
</dict>
</plist>